.ma_aboutasSection3{
    background-color: #274C5B;
}
#s9_p2{
    color: #FFF;
    font-family: Roboto;
    font-size: 35px;

    font-weight: 800;
}
#S9_P1{
    color: #7EB693 !important;
    font-family: Yellowtail;
    font-size: 25px;
    font-weight: 400;

}