#ma_section_categories {
    padding: 70px;
}
#title1{
    color: #7EB693;
    font-family: Yellowtail !important;
    font-size: 25px;
    font-weight: 400;
}
#shop_h1_s1 {
    color: #274C5B;
    font-size: 2.187rem;
    font-weight: 900;
}
#ma_categories_allcard {
    gap: 25px;
    z-index: 0;
    
}