#team_Card{
    width: 340px;
}
#S13_bg_color{
    width: 100%;
    background-color: #F9F8F8;
    height: 97px;
}
#S13_h5{
    color: #274C5B;
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 900;
    }
#S13_p{
    color: #7EB693;
    font-family: Yellowtail;
    font-size: 1.375rem;
    font-weight: 400;
}
#gap_17{
    gap: 17px;

}
@media screen and (max-width:992px) {
#team_Card{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card{
        max-width: 18rem;
    }
    .social{
        width: 16px;
    }
}